<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="about.css">
    <link rel="shortcut icon" href="./Assets/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>CITY POP DISCOVERY | Merch</title>
</head>
<body>
    <header>
        <nav class="topnavbar">
            <a href="../Index.html"><img src="./Assets/logowstroke.svg" alt="" class="logo"></a>
            <div class="void"></div>
            <div class="linksBG">
                <a href="./albums.html"><p class="albums">playlists</p></a>
                <a href="./merch.html"><p class="merch">merch</p></a>
                <a href="./about.html"><p class="about">about</p></a>
            </div>
            <div class="void2"></div>
            <div class="basket"></div>
        </nav>
    </header>
    <main>
       <div class="txtabout">
           <div class="txt">
                <p class="center">Hi ! And welcome to CITYPOP DISCOVERY !</p>
                <br>
                <p>This website is a tribute to the musical genre that accompanied me during years, through 
                study sessions, walks and many other activities. <br><br>
                All the website is pure HTML / CSS / JS and was initially created for a personal project. 
                It finally fitted perfectly with a school project so i added the fake merch part to 
                the concept. Improvements are coming in the future (there is still one bug on the cart :/). <br><br>Thanks for visiting and do not hesitate to check my portfolio by clicking on my nickname in the footer !</p>
                <p class="center smaller">Credits for the backgrounds : <br>about : hiroshi nagai<br>
                    merch : Trey Trimble<br>playlists : arsenixc<br>main page : Philippsaal / ?</p>
           </div>
           
       </div>
    </main>

    <footer>
        <div class="footer">
            <p>Created by <a href="https://www.doriancanonne.dev" target="_blank">Eyvve</a>,  w/ love | 2021</p>
        </div>
    </footer>
    <!-- <script src="merch.js"></script> -->
</body>
</html>