<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="albums.css">
    <link rel="shortcut icon" href="./View/Assets/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>CITY POP DISCOVERY | Merch</title>
</head>
<body>
    <header>
        <nav class="topnavbar">
            <a href="../Index.html"><img src="./Assets/logowstroke.svg" alt="" class="logo"></a>
            <div class="void"></div>
            <div class="linksBG">
                <a href="./albums.html"><p class="albums">albums</p></a>
                <a href="./merch.html"><p class="merch">merch</p></a>
                <a href=""><p class="about">about</p></a>
            </div>
            <div class="void2"></div>
            <div class="basket"></div>
        </nav>
    </header>

    <main>
        <!-- <div class="container"> -->
            <div class="text">
                <p>Here are two excellent playlists gathering the best of each genres. <br><br> Enjoy !</p>
            </div>
            <div class="playlists">
                <div class="playlist">
                    <h2>CITY POP PLAYLIST</h2>
                    <iframe width="90%" height="95%" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/507603531&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/enzo-lee-divito" title="Mirage" target="_blank" style="color: #cccccc; text-decoration: none;">Mirage</a> · <a href="https://soundcloud.com/enzo-lee-divito/sets/city-pop" title="City Pop" target="_blank" style="color: #cccccc; text-decoration: none;">City Pop</a></div>
                </div>
                <div class="playlist">
                    <h2>FUTURE FUNK PLAYLIST</h2>
                    <iframe width="90%" height="95%" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/472606050&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-234697785" title="poads" target="_blank" style="color: #cccccc; text-decoration: none;">poads</a> · <a href="https://soundcloud.com/user-234697785/sets/future-funk" title="future funk" target="_blank" style="color: #cccccc; text-decoration: none;">future funk</a></div>
                </div>
            </div>
        <!-- </div> -->
        
        
    </main>

    <footer>
        <div class="footer">
            <p>Created by <a href="https://www.doriancanonne.dev" target="_blank">Eyvve</a>,  w/ love | 2021</p>
        </div>
    </footer>
    <!-- <script src="merch.js"></script> -->
</body>
</html>